/*
 * @name Slook
 * @author Leeprky
 * @version 2.0
 * @description BetterDiscord Sloot Theme From Powercord
 * @source https://github.com/leeprky/slook_theme
*/

/* CSS VERSION 2.5.01 */

/* IGNORE ABOVE IF ON POWERCORD - BD ONLY */

@import url(https://raw.githack.com/leeprky/slook_theme/main/index.css);
@import url(https://raw.githack.com/leeprky/slook_theme/main/splash.css);

/* V2.0
/*
/* Imports */
@import url(https://ghostmander.github.io/discordfont/DiscordFont.css);
@import url(https://nyri4.github.io/Discolored/main.css);
@import url(https://raw.githack.com/Snapperito/Settings-Icons/main/source.css);

/* HorizontalServerList */ 
@import url("https://raw.githack.com/DiscordStyles/HorizontalServerList/master/HorizontalServerList.theme.css");

/* USRBG */ 
/*
USRBG Profile Modals by Tropix126.
=========================================== */
@import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);

/* -=-=-=-=-=-=-=-=-=-=- */

/* Glasscord Support - No Lightmode*/
/* YOU NEED GLASSCORD INSTALLED - ONCE DELETED LINE BELOW PLEASE RESTART DISCORD
- REFER TO: https://github.com/leeprky/cybercordtheme-transparent*/
/*
:root{
	--glasscord-win-blur: blurbehind;
	--glasscord-macos-vibrancy: fullscreen-ui;
	--glasscord-linux-blur: true;
	--glasscord-titlebar: windows;  
}
body{
    background-color: transparent;
}
#app-mount{
	background-color: rgba(0, 0, 0, 0.301);
	border-radius: 10px 10px 10px 10px; 
	border-color: transparent;
}
#app-mount .guilds-1SWlCJ .scrollerBase-289Jih {
  background: transparent;
}
.theme-dark {
	--background-primary: #0c0c0c00!important;
	--background-secondary: #0a0a0a10!important;
	--background-tertiary: #12121325!important;
};
.guilds-1SWlCJ {
    background-color: transparent;
}
.guilds-1SWlCJ .scrollerBase-289Jih {
  background-color: transparent;
}
.container-1r6BKw.themed-ANHk51 {
  background-color: rgba(24, 22, 22, 0.349);
  border-radius: 10px 0px 0px 0px;
}

/* GlasscordCodeEnd*/

/* Windows Fix For ServerList */

#app-mount .app-1q1i1E .base-3dtUhz {
  top: calc(var(--server-container) + 4px) !important;
}
/* Linux Fix For ServerList */
/*
#app-mount .app-1q1i1E .base-3dtUhz {
  top: calc(var(--server-container) + 6px) !important;
}
/* macOS Fix For ServerList */
/*
#app-mount .app-1q1i1E .base-3dtUhz {
  top: calc(var(--server-container) + 38px) !important;
}
.platform-osx .container-1r6BKw {
  -webkit-app-region: none;
}

/* Glasscord Ends */ /* 
/* -=-=-=--=-=-=-=-=-=-=-=-= */

/* OPTIONAL */
/* Keko #6043 osx Windows Replacement*/
/* OPTIONAL OSX ON WINDOWS.
.theme-light .withFrame-haYltI {
  background: var(--neb-tertiary);
  margin: 0;
  height: 24px;
}
.theme-dark .withFrame-haYltI {
  background: transparent;
  margin: 0;
  height: 24px;
}
.withFrame-haYltI .wordmarkWindows-1v0lYD svg {
  width: 0;
}
.withFrame-haYltI .winButton-iRh8-Z > svg {
  display: none;
}
.withFrame-haYltI .winButton-iRh8-Z:hover {
  background-color: var(--background-teritary);
}
.withFrame-haYltI .winButton-iRh8-Z {
  pointer-events: none;
  margin-left: -3px;
  top: 0;
}
.withFrame-haYltI .winButton-iRh8-Z::after {
  content: "";
  padding: 7px;
  border-radius: 50px;
  pointer-events: fill;
  transition-duration: 200ms;
}
.withFrame-haYltI .winButtonClose-1HsbF- {
  margin-right: 5px;
}
.withFrame-haYltI .winButtonClose-1HsbF-::after {
  background-color: #e92a2a25;
  margin-top: 0px;
}
.theme-light .withFrame-haYltI .winButtonClose-1HsbF-::after {
  background-color: #380d074b;
  margin-top: 0px;
}
.withFrame-haYltI .winButtonClose-1HsbF-:hover::after {
  background-color: #e92a2a;
  transform: scale(1.1);
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(3)::after {
  background-color: #ebdd1721;
  margin-top: 0px;
}
.theme-light .withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(3)::after {
  background-color: #3738074b;
  margin-top: 0px;
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(3):hover::after {
  background-color: #f7bc1b;
  transform: scale(1.1);
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(4):after {
  background-color: #12db3323;
  margin-top: 0px;
}
.theme-light .withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(4):after {
  background-color: #07380f4b;
  margin-top: 0px;
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(4):hover::after {
  background-color: #12db33;
  transform: scale(1.1);
  margin-top: 0px;
}
/* ChannelistRemove By Leeprky#2063 */ /* REMOVE THE LINE BELOW */
/* - OPTIONAL CHANNEL LIST - DELETE LINE 22 ALSO IF USING THIS
.sidebar-2K8pFh{
  width: 0px;
  transition: 0.6s ease;
  z-index: 1;
  bottom: 10px;
}
.wrapper-3NnKdC:hover+.base-3dtUhz>.content-98HsJk>.sidebar-2K8pFh{
  width:240px;
}
.sidebar-2K8pFh:hover{
  width:240px;
}
/* */
/* Center Server List */
/* OPTIONAL SERVER LIST
#app-mount .wrapper-3NnKdC.guilds-1SWlCJ .scroller-1Bvpku {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*

/* SLOOK Images To Customisze */

/* SlookSpotify */
/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-dark .powercord-spotify {
  background-color: #106e4431;
  background-image: url(https://imgur.com/L0Iih63.jpg); 
  border-radius: 8px 8px 0px 0px;
}
.theme-light .powercord-spotify {
  background-color: #106e4431;
  background-image: url(https://imgur.com/GZyPIBZ.jpg); 
  border-radius: 8px 8px 0px 0px;
}
/* Playing AvatarBackground / Modal By Leeprky#2063 */

/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-light .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  border-radius: 12px;
}
.theme-dark .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  border-radius: 12px;
}
.theme-dark .headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  border-radius: 18px;
}
.theme-light .headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  border-radius: 18px;
}
/*Call Area */
/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-dark .root-217Brm {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  background-size: 1200px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: none;
}
.theme-light .root-217Brm {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  background-size: 1200px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: none;
}
/* Activity Status */
.theme-dark .activityPanel-28dQGo {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  border-radius: 12px;
  margin-bottom: 7px;
  width: 220px;
  margin-left: 4px;
  box-shadow: none;
}
.theme-light .activityPanel-28dQGo {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  border-radius: 12px;
  margin-bottom: 7px;
  width: 220px;
  margin-left: 4px;
  box-shadow: none;
}

/* USE @import url("https://raw.githack.com/leeprky/slook_theme/main/index.css"); 
FOR UPDATING BECUASE I HAVE UPDATED TO A ON THE FLY UPDATE SYSTEM 
ON LINE 1 YOU WILL NEED TO FORK IF YOU WISH TO EDIT OR SIMPLY PASTE THE CONTENTS BELOW */
