/* imports */
@import url("https://ghostmander.github.io/discordfont/DiscordFont.css");
@import url("https://poilerwags.github.io/Customa-Discord/Chat/radialstatus.m.css");

.theme-dark {
   --header-primary: #fff;
   --header-secondary: #b9bbbe;
   --text-normal: #dcddde;
   --text-muted: #72767d;
   --text-link: #00b0f4;
   --background-chatbox: #8e9297;
   --channels-default: #8e9297;
   --interactive-normal: #b9bbbe;
   --interactive-hover: #dcddde;
   --interactive-active: #fff;
   --interactive-muted: #4f545c;
   --background-primary: #292b30;
   --background-secondary: #2224277a;
   --background-secondary-alt: #2224277a;
   --background-tertiary: #1D1F22;
   --background-accent: #3a537a;
   --background-floating: #18191c;
   --background-modifier-hover: rgba(79,84,92,0.16);
   --background-modifier-active: rgba(79,84,92,0.24);
   --background-modifier-selected: rgba(79,84,92,0.32);
   --background-modifier-accent: hsla(0,0%,100%,0.06);
   --background-mentioned: rgba(250,166,26,0.05);
   --background-mentioned-hover: rgba(250,166,26,0.08);
   --background-message-hover: rgba(4,4,5,0.07);
   --background-help-warning: rgba(250,166,26,0.1);
   --background-help-info: rgba(0,176,244,0.1);
   --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
   --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
   --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
   --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
   --logo-primary: #fff;
   --focus-primary: #00b0f4;
   --radio-group-dot-foreground: #8ea1e1;
   --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
   --channeltextarea-background: #40444b;
   --activity-card-background: #202225;
   --textbox-markdown-syntax: #8e9297;
   --deprecated-card-bg: rgba(32,34,37,0.6);
   --deprecated-card-editable-bg: rgba(32,34,37,0.3);
   --deprecated-store-bg: #36393f;
   --deprecated-quickswitcher-input-background: #72767d;
   --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
   --deprecated-text-input-bg: rgba(0,0,0,0.1);
   --deprecated-text-input-border: rgba(0,0,0,0.3);
   --deprecated-text-input-border-hover: #040405;
   --deprecated-text-input-border-disabled: #202225;
   --deprecated-text-input-prefix: #dcddde;
}
.peopleColumn-29fq28 {
   background-color: #2C2F34;
}

/* Discord watermark text in top left hand corner */
.wordmark-2iDDfm svg {
   width: 0px;
 }
 .wordmark-2iDDfm:after {
   font-family: "Discord";
   content: "SLOOK";
   font-size: 12px;
   background: rgba(255, 255, 255, 0.336);
   background-size: 400% 400%;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   position: absolute;
   top: 7px;
   margin-left: 8px;
 }

/* Bubble Member List */
:root {
   --hover-animation-speed: 0.35s;
   --seperator-color: var(--background-accent);
}
.members-1998pB {
   transition: transform var(--hover-animation-speed);
}
.membersWrap-2h-GB4 {
  min-width: unset;
  width: 40px;
  justify-content: left;
}
.content-3QAtGj .subText-1KtqkB {
  display: none;
}
.membersWrap-2h-GB4:hover .members-1998pB {
   transform: translateX(-260px);
}
.membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
   background-color: unset;
   margin-left: 0px;
   transition: margin-left var(--hover-animation-speed);
}
.membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
   margin-left: 15px;
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
   transform: translateX(2px);
}
.membersWrap-2h-GB4 .membersGroup-v9BXpm {
   cursor: default;
   transform: translateX(-10px);
   transition: transform var(--hover-animation-speed);
   overflow: visible;
}
.members-1998pB {
 border-radius: 18px 18px 18px 18px !important;
 left: 37px;
 margin-top: 100px;
 margin-bottom: 15px;
}
::-webkit-scrollbar {
  display: none;
}
.membersWrap-2h-GB4 {
 left: 45px;
 margin-right: 40px;
 bottom: 75px;
 background-color: rgba(216, 27, 27, 0);
}
.chatContent-a9vAAp {
 background-color: var(--background-primary);
 border-radius: 0 15px 0 0 !important;
 margin-left: -0px;
 margin-right: -40px;
}
.channelTextArea-rNsIhG, .channelTextArea-2VhZ6z { 
   margin-left: 20px;
 }
 .base-gE7OpD {
   right: -5px;
   top: 45px;
}
.buttons-3JBrkn {
   position: relative;
   left: -10px
}
/* END */
:root {
   --bg-chatbox: #202225cb;
   --bg-divider: var(--background-modifier-accent); /* discords default color */
}
.scroller-2LSbBU {
   bottom: -39em;
}
.scrollerSpacer-avRLaA {
   height: 41em;
}
.scrollerSpacer-avRLaA.empty-6MGttt {
   height: 40em;
}
.scroller-2LSbBU::-webkit-scrollbar-track {
   margin-bottom: calc(39em + 0.5em);
}
.form-2fGMdU::before {
   display: none;
}
.channelTextArea-rNsIhG {
   background-color: transparent;
}
.jumpToPresentBar-G1R9s6 {
   bottom: 8px;
   background-color:transparent;
   opacity: 1;
}
.jumpToPresentBar-G1R9s6 .barButtonMain-3K-jeJ, .jumpToPresentBar-G1R9s6 .barButtonAlt-mYL1lj {
   height: 37px;
   bottom: -7px;
   margin-left: 20px;
}
.container-2fRDfG, .scrollableContainer-2NUZem {
   background-color: var(--bg-chatbox);
}
.jumpToPresentBar-G1R9s6::before {
   content: "";
   position: absolute;
   margin-left: 20px;
   background-color: transparent;
   bottom: -50em;
   height: 50em;
   width: 100%;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   box-shadow: 0 -38px 0 0 var(--bg-chatbox);
}
.container-2fRDfG::after /* reply divider */ {
   content: "";
   width: calc(100% - 10px); 
   background: var(--bg-divider);
   margin-left: 4px;
   position: absolute;
   height: 1px;
   top: 33px;
}
.jumpToPresentBar-G1R9s6::after /* jumpto divider */ {
   content: "";
   width: calc(100% - 10px); 
   background: var(--bg-divider);
   margin-left: 4px;
   position: absolute;
   height: 1px;
   top: 44px; 
}
 /* Better Playing Modals */
 .headerPlaying-j0WQBV, 
 .topSectionPlaying-1J5E4n {
   background-color:  #4493b8 !important;
 }
 .headerSpotify-zpWxgT, 
 .topSectionSpotify-1lI0-P {
   background-color:  #50a845f6 !important;
 }
 .headerStreaming-2FjmGz, 
 .topSectionStreaming-1Tpf5X {
   background-color:  #712f97f5 !important;
 }
 .userInfoSectionHeader-CBvMDh,
 .note-QfFU8y {
   display: none;
 }
