/*
 * @name Slook
 * @author Leeprky
 * @version 2.5
 * @description BetterDiscord Sloot Theme From Powercord/GooseMod.
 * @source https://github.com/leeprky/slook_theme
*/

/* CSS VERSION 2.5.01 */

/* IGNORE ABOVE IF ON POWERCORD - BD ONLY */

@import url(https://raw.githack.com/leeprky/slook_theme/main/source/slook-source.css);

/* V2.5
/*
/* Imports */ 
@import url(https://nyri4.github.io/Discolored/main.css);
@import url(https://raw.githack.com/Snapperito/Settings-Icons/main/source.css);

/* HorizontalServerList */ 
@import url(https://raw.githack.com/DiscordStyles/HorizontalServerList/master/HorizontalServerList.theme.css);

/* USRBG */ 
/*
USRBG Profile Modals by Tropix126.
=========================================== */
@import url(https://raw.githack.com/Discord-Custom-Covers/usrbg/master/USRBG.theme.css);
/* -=-=-=-=-=-=-=-=-=-=- */

/* Center Server List */
/* OPTIONAL SERVER LIST
#app-mount .wrapper-3NnKdC.guilds-1SWlCJ .scroller-1Bvpku {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*

/* SLOOK FONT */
:root {
  --discord-font: 'Discord'; /* De;ete For Regular Font */
}

/* SlookChatBox */
/* Name */
.username-1A8OIy {
  font-size: 1.15rem;
  line-height: 2.375rem;
  color: var(--header-primary);
  display: inline;
  margin-bottom:  15px;
  margin-left: 0px;  /* - DISCORD USERNAME FONT
  font-family:'Discord'; 
  /* /* */
}
.cozy-3raOZG .timestamp-3ZCmNB {
  font-size: 0.65rem;
  height: 1.975rem;
  color: #b6b9b4;
  vertical-align:-webkit-baseline-middle; 
  font-family: 'Discord';  /* - DISCORD USERNAME FONT */
}
.message-2qnXI6 .avatar-1BDn8e {
  margin-bottom: -10px;
  width: 50px;
  height: 50px;
  left: 10px
}
.message-2qnXI6 .contents-2mQqc9 .avatar-1BDn8e {
  top: 15px !important;
}
.cozy-3raOZG .messageContent-2qWWxC {
  margin-left: -68px;
  padding-left: 72px;
  margin-top: -5px;
}
/* Compact Support */
.compact-T3H92H .contents-2mQqc9 {
  height: 50px;
}
.compact-T3H92H .timestamp-3ZCmNB, .cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
  display: none;
}
.messagesWrapper-1sRNjr, .scrollerContent-WzeG7R {
  margin-left: 10px
}
/* Crash Screen */
.title-3trS3_ {
  font-size: 30px;
  line-height: 8px;
  margin-bottom: 24px;
  font-weight: 600;
  color: var(--header-primary);
  font-family: 'Discord'; /* - DISCORD USERNAME FONT */
}
.note-450gs3, .title-3trS3_ {
  font-family: 'Discord'; /* - DISCORD USERNAME FONT */
  font-size: 15px;
}
.image-3zK3Wt, .theme-light .image-3zK3Wt {
  background-image: url(https://imgur.com/djaysMB.png);
}

.flexWrapper-2EgxO2 {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  background-position: 50%;
}
.theme-light .flexWrapper-2EgxO2 {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  background-position: 50%;
}

/* Bubble Member List */
:root {
  --hover-animation-speed: 0.35s;
  --seperator-color: var(--background-accent);
}
.members-1998pB {
  transition: transform var(--hover-animation-speed);
}
.membersWrap-2h-GB4 {
 min-width: unset;
 width: 40px;
 justify-content: left;
}
.content-3QAtGj .subText-1KtqkB {
 display: none;
}
.membersWrap-2h-GB4:hover .members-1998pB {
  transform: translateX(-260px);
}
.membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
  background-color: unset;
  margin-left: 0px;
  transition: margin-left var(--hover-animation-speed);
}
.membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
  margin-left: 15px;
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
  transform: translateX(2px);
}
.membersWrap-2h-GB4 .membersGroup-v9BXpm {
  cursor: default;
  transform: translateX(-10px);
  transition: transform var(--hover-animation-speed);
  overflow: inherit;
}
.members-1998pB {
border-radius: 18px 18px 18px 18px !important;
left: 37px;
margin-top: 100px;
margin-bottom: 15px;
}
::-webkit-scrollbar {
 display: none;
}
.membersWrap-2h-GB4 {
left: 45px;
margin-right: 40px;
bottom: 75px;
background-color: rgba(216, 27, 27, 0);
}
.theme-light .chatContent-a9vAAp {
background-color: transparent;
border-radius: 0 15px 0 0 !important;
margin-left: -0px;
margin-right: 15px;
}
.theme-dark .chatContent-a9vAAp {
  background-color: transparent;
  border-radius: 0 15px 0 0 !important;
  margin-left: -10px;
  margin-right: -10px
  }
.channelTextArea-rNsIhG, .channelTextArea-2VhZ6z { 
  margin-left: 25px;
}
.base-gE7OpD {
  right: -0px;
}
.buttons-3JBrkn {
  position: relative;
  left: -1px
}

/* Better Looking New Messages Pill By Leeprky#2063 */
:root {
  --newmessagesbar: #008C67;
}
.unreadPill-2HyYtt {
  color: rgb(252, 248, 248);
  background-color:var(--newmessagesbar);
  border-radius: 5px;
  width: 50px;
  height: 16px;
  margin-bottom: 9px;
  margin-left: -10px;
  position: static;
  font-family: "Discord"; /* - DISCORD USERNAME FONT */
  padding-left: 3px;
}
.divider-JfaTT5 {
  border-top: thin solid var(--newmessagesbar);
  width: 420px;
  height: 10px;
  left: 70px;
}
/* Day History Pill */
.unreadPillCap-3_K2q2 {
  width: 0px;
  height: 0px;
}
.content-1o0f9g {
  font-size: 0.65rem;
}
.theme-dark .content-1o0f9g {
  color: #e7dddd;
  font-family: "Discord"; /* - DISCORD USERNAME FONT */
  margin-top: -7px;
  font-size: 0.60rem;
  background-color: var(--newmessagesbar);
}
.theme-light .content-1o0f9g {
  color: #1b1a1a;
  font-family: "Discord"; /* - DISCORD USERNAME FONT */
  margin-top: 00rem;
  font-size: 0.60rem;
  background-color: var(--newmessagesbar);
}

/* Add transparency & blur to the loading screen */
.container-16j22k {
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(5px);
}
/* BoldText */
.headerText-2F0828 {
  font-size: 18px; 
  font-family:'Discord';  /* - DISCORD USERNAME FONT */
}
.header-2RyJ0Y {
  font-size: 16px;
  font-family:'Discord';  /* - DISCORD USERNAME FONT */
}
.title-3sZWYQ {
  font-size: 15px;
  font-family:'Discord';  /* - DISCORD USERNAME FONT */
}
.container-2ax-kl {
  font-size: 15px;
  font-family:'Discord';  /* - DISCORD USERNAME FONT */
}
/* PictureInPicture */
.header-2Zv56X {
  font-size: 18px;
  color:#eaedf0; 
  font-family: 'Discord' /* - DISCORD USERNAME FONT */
} 
.description-22pzKs {
  color: #c7cacc;
  font-size: 11px
}


/* SLOOK Images To Customisze */

/* SlookSpotify */
/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-dark .powercord-spotify {
  background-color: #106e4431;
  background-image: url(https://imgur.com/L0Iih63.jpg); 
  border-radius: 8px 8px 0px 0px;
}
.theme-light .powercord-spotify {
  background-color: #106e4431;
  background-image: url(https://imgur.com/GZyPIBZ.jpg); 
  border-radius: 8px 8px 0px 0px;
}
/* Playing AvatarBackground / Modal By Leeprky#2063 */

/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-light .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  border-radius: 12px;
}
.theme-dark .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  border-radius: 12px;
}
.theme-dark .headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  border-radius: 18px;
}
.theme-light .headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  border-radius: 18px;
}
/*Call Area */
/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-dark .root-217Brm {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  background-size: 1200px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: none;
}
.theme-light .root-217Brm {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  background-size: 1200px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: none;
}
/* Activity Status */
.theme-dark .activityPanel-28dQGo {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  border-radius: 12px;
  margin-bottom: 7px;
  width: 220px;
  margin-left: 4px;
  box-shadow: none;
}
.theme-light .activityPanel-28dQGo {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  border-radius: 12px;
  margin-bottom: 7px;
  width: 220px;
  margin-left: 4px;
  box-shadow: none;
}

/* USE @import url("https://raw.githack.com/leeprky/slook_theme/main/index.css"); 
FOR UPDATING BECUASE I HAVE UPDATED TO A ON THE FLY UPDATE SYSTEM 
ON LINE 1 YOU WILL NEED TO FORK IF YOU WISH TO EDIT OR SIMPLY PASTE THE CONTENTS BELOW */


/* GOOSEMOD SUPPORT */

.lookFilled-1Gx00P.colorBrand-3pXr91 {
  color: rgb(231, 222, 222);
  background-color: #54575f;
}
