/* CSS VERSION 2.6.2 */
@import url(https://raw.githack.com/leeprky/Slook/main/source/slook-source.css);

/* V2.6.2
/*
/* Imports */ 
@import url(https://nyri4.github.io/Discolored/main.css);
@import url(https://raw.githack.com/Snapperito/Settings-Icons/main/source.css);

/* HorizontalServerList */ 
@import url(https://raw.githack.com/DiscordStyles/HorizontalServerList/master/HorizontalServerList.theme.css);

/* USRBG */ 
/*
USRBG Profile Modals by Tropix126.
=========================================== */
@import url(https://raw.githack.com/Discord-Custom-Covers/usrbg/master/USRBG.theme.css);
/* -=-=-=-=-=-=-=-=-=-=- */

/* Glasscord */ /* - DELETE FOR GLASSCORD
@import url(https://raw.githack.com/leeprky/slook_theme/main/Glasscord-Files/styles/glasscord-slook-theme.css);
  
:root{
	--glasscord-win-blur: blurbehind;
	--glasscord-macos-vibrancy: fullscreen-ui;
	--glasscord-linux-blur: true;
	--glasscord-titlebar: osx;  
}
body{
    background-color: transparent;
}
#app-mount{
	background-color: rgba(0, 0, 0, 0.301);
	border-radius: 10px 10px 10px 10px; 
	border-color: transparent;
}
#app-mount .guilds-1SWlCJ .scrollerBase-289Jih {
  background: transparent;
}
.theme-dark {
	--background-primary: #0c0c0c00!important;
	--background-secondary: #0a0a0a10!important;
	--background-tertiary: #1S2121325!important;
};
#app-mount .guilds-1SWlCJ, .base-3dtUhz {
  top: calc(var(--server-container) + -32px) !important;
}
.platform-osx .container-1r6BKw {
  -webkit-app-region: none;
}
#app-mount .app-1q1i1E .base-3dtUhz {
  margin-top: 32px;
}
.panels-j1Uci_ {
  background-color: transparent;
}
.scrollableContainer-2NUZem {
  background-color: rgba(0, 0, 0, 0.534);
}
.contentRegionScroller-26nc1e, .contentRegion-3nDuYy, .standardSidebarView-3F1I7i, .sidebarRegionScroller-3MXcoP {
  background: rgba(22, 22, 22, 0.596);
}
/* Glasscord End */

/* MainColouring */
.theme-dark {

  --modal-playing-background-light: url(https://imgur.com/GZyPIBZ.jpg);
  --expanded-playing-background-light: url(https://imgur.com/GZyPIBZ.jpg);
  --call-background-light: url(https://imgur.com/GZyPIBZ.jpg);

  --modal-playing-background-dark: url(https://imgur.com/L0Iih63.jpg);
  --expanded-playing-background-dark: url(https://imgur.com/L0Iih63.jpg);
  --call-background-dark: url(https://imgur.com/L0Iih63.jpg);

  --spotify-playing-background: ;
  --spotify-color: #008C67;

  --alt-color: 0, 140, 103;
  --new-message-pill: #008C67;
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #00b0f4;
  --channels-default: #8e9297;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: rgb(231, 222, 222);
  --interactive-muted: #313233;
  --background-primary: #24262b;
  --background-primary-alt: #24262b;
  --background-secondary: #1d1f22ad;
  --background-secondary-alt: #1d1f22ad;
  --background-tertiary: #1D1F22;
  --background-accent: #1e1f20;
  --background-floating: #18191caf;
  --background-modifier-hover: rgba(79,84,92,0.16);
  --background-modifier-active: rgba(79,84,92,0.24);
  --background-modifier-selected: rgba(14, 15, 15, 0.32);
  --background-modifier-accent: hsla(0,0%,100%,0.06);
  --background-mentioned: rgba(89, 250, 26, 0.055);
  --background-mentioned-hover: rgba(58, 180, 20, 0.08);
  --background-message-hover: rgba(4,4,5,0.07);
  --background-help-warning: rgba(250,166,26,0.1);
  --background-help-info: rgba(0,176,244,0.1);
  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
  --logo-primary: #fff;
  --focus-primary: #d3e8f0;
  --radio-group-dot-foreground: #8ea1e1;
  --guild-header-text-shadow: 0 1px 1px rgba(20, 19, 19, 0.4);
  --channeltextarea-background: #40444b;
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-card-bg: rgba(32,34,37,0.6);
  --deprecated-card-editable-bg: rgba(32,34,37,0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
  --deprecated-text-input-bg: rgba(0,0,0,0.1);
  --deprecated-text-input-border: rgba(0,0,0,0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
  --usernamme-discord-font: true;
}
.theme-light {
 --alt-color: 0, 140, 103;
 --spotify-color: #008C67;
 --new-message-pill: #008C67;
 --header-primary: #0d0d0e;
 --header-secondary: #2a2b2e;
 --text-normal: #0d0d0e;
 --text-muted: #747f8d;
 --text-link: #28a318f1;
 --channels-default: #1f2022;
 --interactive-normal: #4f5660;
 --interactive-hover: #2e3338;
 --interactive-active: #40a113;
 --interactive-muted: #c2c5c7;
 --background-primary: rgb(216, 209, 203);
 --background-secondary: rgba(219, 214, 210, 0.61);
 --background-secondary-alt: #dad6d100;
 --background-tertiary: rgba(219, 214, 210, 0.61);
 --background-accent: #424344e5;
 --background-floating: rgba(226, 219, 215, 0.884);
 --background-modifier-hover: rgba(116,127,141,0.08);
 --background-modifier-active: rgba(116,127,141,0.16);
 --background-modifier-selected: rgba(116,127,141,0.24);
 --background-modifier-accent: rgba(6,6,7,0.08);
 --background-modifier-accent: hsla(0,0%,100%,0.06);
 --background-mentioned: rgba(63, 177, 18, 0.116);
 --background-message-hover: rgba(6,6,7,0.02);
 --background-help-warning: rgba(250,166,26,0.1);
 --background-help-info: rgba(0,103,224,0.1);
 --scrollbar-thin-thumb: rgba(79,84,92,0.3);
 --scrollbar-thin-track: transparent;
 --scrollbar-auto-thumb: #ccc;
 --scrollbar-auto-track: #f2f2f2;
 --scrollbar-auto-scrollbar-color-thumb: #e3e5e8;
 --scrollbar-auto-scrollbar-color-track: #f2f3f5;
 --elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08);
 --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
 --elevation-medium: 0 4px 4px rgba(0,0,0,0.08);
 --elevation-high: 0 8px 16px rgba(0,0,0,0.16);
 --logo-primary: #7289da;
 --focus-primary: #00b0f4;
 --radio-group-dot-foreground: #4e5d94;
 --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
 --channeltextarea-background: #ebedef63;
 --activity-card-background: #fff;
 --textbox-markdown-syntax: #6a7480;
 --deprecated-card-bg: #f8f9f9;
 --deprecated-card-editable-bg: rgba(246,246,247,0.6);
 --deprecated-store-bg: #f8f9f9;
 --deprecated-quickswitcher-input-background: #fff;
 --deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);
 --deprecated-text-input-bg: rgba(79,84,92,0.02);
 --deprecated-text-input-border: rgba(79,84,92,0.3);
 --deprecated-text-input-border-hover: #b9bbbe;
 --deprecated-text-input-border-disabled: #dcddde;
 --deprecated-text-input-prefix: #b9bbbe;
}

/* Avatars */
:root {
  --rs-small-spacing: 1px;
  --rs-large-spacing: 0px;
  --rs-width: 2px;
  --rs-avatar-shape: 100%;
  --rs-online-color: #0ee986;
  --rs-idle-color: #faeb1a;
  --rs-dnd-color: #ff2e2e;
  --rs-offline-color: #23242500;
  --rs-streaming-color: #8342f5;
  --rs-invisible-color: #eaeef3;
}

/* Center Server List */
/* OPTIONAL SERVER LIST
#app-mount .wrapper-3NnKdC.guilds-1SWlCJ .scroller-1Bvpku {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*
/* SLOOK FONT */
:root {
  --discord-font: 'Discord'; /* Delete For Regular Font */
}

/* Better Looking New Messages Pill By Leeprky#2063 */
.unreadPill-2HyYtt {
  color: rgb(252, 248, 248);
  background-color:var(--new-message-pill);
  border-radius: 5px;
  width: 50px;
  height: 16px;
  margin-bottom: 9px;
  margin-left: -10px;
  position: static;
  font-family: "Discord"; /* - DISCORD USERNAME FONT */
  padding-left: 3px;
}
.divider-JfaTT5 {
  border-top: thin solid var(--new-message-pill);
  width: 420px;
  height: 10px;
  left: 70px;
}
/* Day History Pill */
.unreadPillCap-3_K2q2 {
  width: 0px;
  height: 0px;
}
.content-1o0f9g {
  font-size: 0.65rem;
}
.theme-dark .content-1o0f9g {
  color: #e7dddd;
  font-family: "Discord"; /* - DISCORD USERNAME FONT */
  margin-top: -7px;
  font-size: 0.60rem;
  background-color: var(--new-message-pill);
}
.theme-light .content-1o0f9g {
  color: #1b1a1a;
  font-family: "Discord"; /* - DISCORD USERNAME FONT */
  margin-top: 00rem;
  font-size: 0.60rem;
  background-color: var(--new-message-pill);
}

/* Add transparency & blur to the loading screen */
.container-16j22k {
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(5px);
}
/* BoldText */
.headerText-2F0828 {
  font-size: 18px; 
  font-family:'Discord';  /* - DISCORD USERNAME FONT */
}
.header-2RyJ0Y {
  font-size: 16px;
  font-family:'Discord';  /* - DISCORD USERNAME FONT */
}
.title-3sZWYQ {
  font-size: 15px;
  font-family:'Discord';  /* - DISCORD USERNAME FONT */
}
.container-2ax-kl {
  font-size: 15px;
  font-family:'Discord';  /* - DISCORD USERNAME FONT */
}
/* PictureInPicture */
.header-2Zv56X {
  font-size: 18px;
  color:#eaedf0; 
  font-family: 'Discord' /* - DISCORD USERNAME FONT */
} 
.description-22pzKs {
  color: #c7cacc;
  font-size: 11px
}

/* Bubble Member List OPTIONAL*/

:root {
  --hover-animation-speed: 0.35s;
  --seperator-color: var(--background-accent);
}
.members-1998pB {
  transition: transform var(--hover-animation-speed);
}
.membersWrap-2h-GB4 {
 min-width: unset;
 width: 40px;
 justify-content: left;
}
.content-3QAtGj .subText-1KtqkB {
 display: none;
}
.membersWrap-2h-GB4:hover .members-1998pB {
  transform: translateX(-260px);
}
.membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
  background-color: unset;
  margin-left: 0px;
  transition: margin-left var(--hover-animation-speed);
}
.membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
  margin-left: 15px;
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
  transform: translateX(2px);
}
.membersWrap-2h-GB4 .membersGroup-v9BXpm {
  cursor: default;
  transform: translateX(-10px);
  transition: transform var(--hover-animation-speed);
  overflow: inherit;
}
.members-1998pB {
border-radius: 18px 18px 18px 18px !important;
left: 37px;
margin-top: 100px;
margin-bottom: 15px;
}
::-webkit-scrollbar {
 display: none;
}
.membersWrap-2h-GB4 {
left: 45px;
margin-right: 40px;
bottom: 75px;
background-color: rgba(216, 27, 27, 0);
}


/* SlookChatBox OPTIONAL*/
/* Name */
.username-1A8OIy {
  font-size: 1.15rem;
  line-height: 2.375rem;
  color: var(--header-primary);
  display: inline;
  margin-bottom:  15px;
  margin-left: 0px;  /* - DISCORD USERNAME FONT
  font-family:'Discord'; 
  /* /* */
}
.cozy-3raOZG .timestamp-3ZCmNB {
  font-size: 0.65rem;
  height: 1.975rem;
  color: #b6b9b4;
  vertical-align:-webkit-baseline-middle; 
  font-family: 'Discord';  /* - DISCORD USERNAME FONT */
}
.message-2qnXI6 .avatar-1BDn8e {
  margin-bottom: -10px;
  width: 50px;
  height: 50px;
  left: 10px
}
.message-2qnXI6 .contents-2mQqc9 .avatar-1BDn8e {
  top: 15px !important;
}
.cozy-3raOZG .messageContent-2qWWxC {
  margin-left: -68px;
  padding-left: 72px;
  margin-top: -5px;
}
/* Compact Support */
.compact-T3H92H .contents-2mQqc9 {
  height: 50px;
}
.compact-T3H92H .timestamp-3ZCmNB, .cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
  display: none;
}
.messagesWrapper-1sRNjr, .scrollerContent-WzeG7R {
  margin-left: 10px
}
