/**
 * @name Slook
 * @author Leeprky
 * @version 2.0
 * @description BetterDiscord Sloot Theme From Powercord
 * @source https://github.com/leeprky/slook_theme
*/

/* IGNORE ABOVE IF ON POWERCORD - BD ONLY */

@import url("https://raw.githack.com/leeprky/slook_theme/main/index.css");
@import url(https://raw.githack.com/leeprky/slook_theme/main/splash.css);

/* V2.0
/*
/* Imports */
@import url(https://ghostmander.github.io/discordfont/DiscordFont.css);
@import url(https://nyri4.github.io/Discolored/main.css);
@import url(https://raw.githack.com/Snapperito/Settings-Icons/main/source.css);

/* HorizontalServerList */ 
@import url("https://raw.githack.com/DiscordStyles/HorizontalServerList/master/HorizontalServerList.theme.css");

/* USRBG */ 
/*
USRBG Profile Modals by Tropix126.
=========================================== */
@import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);

/* -=-=-=-=-=-=-=-=-=-=- */

/* Glasscord Support - No Lightmode*/
/* YOU NEED GLASSCORD INSTALLED - ONCE DELETED LINE BELOW PLEASE RESTART DISCORD
- REFER TO: https://github.com/leeprky/cybercordtheme-transparent*/
/*
:root{
	--glasscord-win-blur: blurbehind;
	--glasscord-macos-vibrancy: fullscreen-ui;
	--glasscord-linux-blur: true;
	--glasscord-titlebar: windows;  
}
body{
    background-color: transparent;
}
#app-mount{
	background-color: rgba(0, 0, 0, 0.301);
	border-radius: 10px 10px 10px 10px; 
	border-color: transparent;
}
#app-mount .guilds-1SWlCJ .scrollerBase-289Jih {
  background: transparent;
}
.theme-dark {
	--background-primary: #0c0c0c00!important;
	--background-secondary: #0a0a0a10!important;
	--background-tertiary: #12121325!important;
};
.guilds-1SWlCJ {
    background-color: transparent;
}
.guilds-1SWlCJ .scrollerBase-289Jih {
  background-color: transparent;
}
.container-1r6BKw.themed-ANHk51 {
  background-color: rgba(24, 22, 22, 0.349);
  border-radius: 10px 0px 0px 0px;
}
.peopleColumn-29fq28 {
  background-color: #1D1F22;
}
.nowPlayingColumn-2sl4cE {
  background-color: #1D1F22;
}

.container-2lgZY8 {
  -webkit-app-region: drag;
}
.guilds-1SWlCJ, .base-3dtUhz, .sidebar-2K8pFh {
  -webkit-app-region: none;
}

/* Windows Fix For ServerList */
/*
#app-mount .app-1q1i1E .base-3dtUhz {
  top: calc(var(--server-container) + 4px) !important;
}
/* Linux Fix For ServerList */
/*
#app-mount .app-1q1i1E .base-3dtUhz {
  top: calc(var(--server-container) + 6px) !important;
}
/* macOS Fix For ServerList */
/*
#app-mount .app-1q1i1E .base-3dtUhz {
  top: calc(var(--server-container) + 38px) !important;
}
.platform-osx .container-1r6BKw {
  -webkit-app-region: none;
}
/* Glasscord Ends */ /* 
--glasscord-win-blur: blurbehind or transparent available.
--glasscord-titlebar: osx or windows available.

/* -=-=-=--=-=-=-=-=-=-=-=-= */

/* SLOOK */

.root-SR8cQa {
  transform: translateZ(0);
}
.header-QKLPzZ .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  pointer-events: none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}

.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index: 1;
  position: relative;
}

.reduce-motion .userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
  border-radius: 10px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}

/* MainColouring */
/*
.theme-dark {
   --header-primary: #fff;
   --header-secondary: #b9bbbe;
   --text-normal: #dcddde;
   --text-muted: #72767d;
   --text-link: #00b0f4;
   --channels-default: #8e9297;
   --interactive-normal: #b9bbbe;
   --interactive-hover: #dcddde;
   --interactive-active: #fff;
   --interactive-muted: #313233;
   --background-primary: #24262b;
   --background-secondary: #1d1f22ad;
   --background-secondary-alt: #2224277a;
   --background-tertiary: #1D1F22;
   --background-accent: #dadde2;
   --background-floating: #18191caf;
   --background-modifier-hover: rgba(79,84,92,0.16);
   --background-modifier-active: rgba(79,84,92,0.24);
   --background-modifier-selected: rgba(14, 15, 15, 0.32);
   --background-modifier-accent: hsla(0,0%,100%,0.06);
   --background-mentioned: rgba(89, 250, 26, 0.055);
   --background-mentioned-hover: rgba(58, 180, 20, 0.08);
   --background-message-hover: rgba(4,4,5,0.07);
   --background-help-warning: rgba(250,166,26,0.1);
   --background-help-info: rgba(0,176,244,0.1);
   --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
   --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
   --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
   --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
   --logo-primary: #fff;
   --focus-primary: #d3e8f0;
   --radio-group-dot-foreground: #8ea1e1;
   --guild-header-text-shadow: 0 1px 1px rgba(20, 19, 19, 0.4);
   --channeltextarea-background: #40444b;
   --activity-card-background: #202225;
   --textbox-markdown-syntax: #8e9297;
   --deprecated-card-bg: rgba(32,34,37,0.6);
   --deprecated-card-editable-bg: rgba(32,34,37,0.3);
   --deprecated-store-bg: #36393f;
   --deprecated-quickswitcher-input-background: #72767d;
   --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
   --deprecated-text-input-bg: rgba(0,0,0,0.1);
   --deprecated-text-input-border: rgba(0,0,0,0.3);
   --deprecated-text-input-border-hover: #040405;
   --deprecated-text-input-border-disabled: #202225;
   --deprecated-text-input-prefix: #dcddde;
   --usernamme-discord-font: true;
}
.theme-light {
  --header-primary: #0d0d0e;
  --header-secondary: #233d70;
  --text-normal: #0d0d0e;
  --text-muted: #747f8d;
  --text-link: #28a318f1;
  --channels-default: #1f2022;
  --interactive-normal: #4f5660;
  --interactive-hover: #2e3338;
  --interactive-active: #40a113;
  --interactive-muted: #c2c5c7;
  --background-primary: rgb(216, 209, 203);
  --background-secondary: rgba(219, 214, 210, 0.61);
  --background-secondary-alt: #dad6d100;
  --background-tertiary: rgba(219, 214, 210, 0.61);
  --background-accent: #424344e5;
  --background-floating: rgba(226, 219, 215, 0.884);
  --background-modifier-hover: rgba(116,127,141,0.08);
  --background-modifier-active: rgba(116,127,141,0.16);
  --background-modifier-selected: rgba(116,127,141,0.24);
  --background-modifier-accent: rgba(6,6,7,0.08);
  --background-modifier-accent: hsla(0,0%,100%,0.06);
  --background-mentioned: rgba(63, 177, 18, 0.116);
  --background-message-hover: rgba(6,6,7,0.02);
  --background-help-warning: rgba(250,166,26,0.1);
  --background-help-info: rgba(0,103,224,0.1);
  --scrollbar-thin-thumb: rgba(79,84,92,0.3);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #ccc;
  --scrollbar-auto-track: #f2f2f2;
  --scrollbar-auto-scrollbar-color-thumb: #e3e5e8;
  --scrollbar-auto-scrollbar-color-track: #f2f3f5;
  --elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08);
  --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.08);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.16);
  --logo-primary: #7289da;
  --focus-primary: #00b0f4;
  --radio-group-dot-foreground: #4e5d94;
  --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
  --channeltextarea-background: #ebedef63;
  --activity-card-background: #fff;
  --textbox-markdown-syntax: #6a7480;
  --deprecated-card-bg: #f8f9f9;
  --deprecated-card-editable-bg: rgba(246,246,247,0.6);
  --deprecated-store-bg: #f8f9f9;
  --deprecated-quickswitcher-input-background: #fff;
  --deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);
  --deprecated-text-input-bg: rgba(79,84,92,0.02);
  --deprecated-text-input-border: rgba(79,84,92,0.3);
  --deprecated-text-input-border-hover: #b9bbbe;
  --deprecated-text-input-border-disabled: #dcddde;
  --deprecated-text-input-prefix: #b9bbbe;
}
*/
/* OPTIONAL */
/* Keko #6043 osx Windows Replacement*/
/*
.theme-light .withFrame-haYltI {
  background: var(--neb-tertiary);
  margin: 0;
  height: 24px;
}
.theme-dark .withFrame-haYltI {
  background: transparent;
  margin: 0;
  height: 24px;
}
.withFrame-haYltI .wordmarkWindows-1v0lYD svg {
  width: 0;
}
.withFrame-haYltI .winButton-iRh8-Z > svg {
  display: none;
}
.withFrame-haYltI .winButton-iRh8-Z:hover {
  background-color: var(--background-teritary);
}
.withFrame-haYltI .winButton-iRh8-Z {
  pointer-events: none;
  margin-left: -3px;
  top: 0;
}
.withFrame-haYltI .winButton-iRh8-Z::after {
  content: "";
  padding: 7px;
  border-radius: 50px;
  pointer-events: fill;
  transition-duration: 200ms;
}
.withFrame-haYltI .winButtonClose-1HsbF- {
  margin-right: 5px;
}
.withFrame-haYltI .winButtonClose-1HsbF-::after {
  background-color: #e92a2a25;
  margin-top: 0px;
}
.theme-light .withFrame-haYltI .winButtonClose-1HsbF-::after {
  background-color: #380d074b;
  margin-top: 0px;
}
.withFrame-haYltI .winButtonClose-1HsbF-:hover::after {
  background-color: #e92a2a;
  transform: scale(1.1);
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(3)::after {
  background-color: #ebdd1721;
  margin-top: 0px;
}
.theme-light .withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(3)::after {
  background-color: #3738074b;
  margin-top: 0px;
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(3):hover::after {
  background-color: #f7bc1b;
  transform: scale(1.1);
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(4):after {
  background-color: #12db3323;
  margin-top: 0px;
}
.theme-light .withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(4):after {
  background-color: #07380f4b;
  margin-top: 0px;
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(4):hover::after {
  background-color: #12db33;
  transform: scale(1.1);
  margin-top: 0px;
}
/* ChannelistEdit By Leeprky#2063 */ /* REMOVE THE LINE BELOW */
/*
.sidebar-2K8pFh{
  width: 0px;
  transition: 0.6s ease;
  z-index: 1;
  bottom: 10px;
}
.wrapper-3NnKdC:hover+.base-3dtUhz>.content-98HsJk>.sidebar-2K8pFh{
  width:240px;
}
.sidebar-2K8pFh:hover{
  width:240px;
}
/* */
/* Center Server List */
/*
#app-mount .wrapper-3NnKdC.guilds-1SWlCJ .scroller-1Bvpku {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*
/* Channel Arrows */
/* - DELETE
.theme-light [class*='modeSelected'] [class*='name']
{
    color: rgba(30, 143, 15, 0.925) !important; 
    padding-left: 5px
}

[class*='modeSelected'] [class*='name']:before
{
    content: "> ";
}


.theme-light [class*='modeUnread'] [class*='name']
{
    color: #28a318f1 !important; 
    padding-left: 3px
}

[class*='modeUnread'] [class*='name']:after
{
    content: " <";
}

/* */
/* -=-=-=-=- */
/* SlookChatBox */
/* Name */
.username-1A8OIy {
  font-size: 1.15rem;
  line-height: 2.375rem;
  color: var(--header-primary);
  display: inline;
  margin-bottom:  15px;
  margin-left: 2px;  /* - DISCORD USERNAME FONT
  font-family:'Discord'; 
  /*
  /* */
}
.cozy-3raOZG .timestamp-3ZCmNB {
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: var(--text-muted);
  display: none;
}
/* Timestamp From Pinged Messages */
.timestamp-1E3uAL {
  display: none;
}
.message-2qnXI6 .avatar-1BDn8e {
  top: 16px;
  width: 45px;
  height: 45px;
}
.cozy-3raOZG .messageContent-2qWWxC {
  margin-left: -68px;
  padding-left: 72px;
  margin-top: -5px;
}
.theme-light .mentioned-xhSam7:before {
  background-color: #49A31F;
  width: 3px;
  left: -8px
}
.theme-dark .mentioned-xhSam7:before {
  background-color: #e6ebe3;
  width: 3px;
  left: -8px
}
.message-2qnXI6 {
  margin-left: 16px;
}
.message-2qnXI6:hover {
  background-color: var(--background-floating);
  border-radius: 10px
};
.contents-2mQqc9 {
  margin-top: 1px;
}
.message-2qnXI6:not(.groupStart-23k01U) .buttonContainer-DHceWr {
  margin-top: 10px;
}
.mentioned-xhSam7 {
  position: relative;
  background-color: var(--background-mentioned)
}
/* TitleBar */
.app-1q1i1E .base-3dtUhz {
  top: calc(var(--server-container) + 4px) !important;
}
.theme-light .container-1r6BKw.themed-ANHk51 {
  background-color: #DDD8D4;
  border-radius: 18px 0px 0px 0px;
}
.theme-dark .container-1r6BKw.themed-ANHk51 {
  background-color: rgba(19, 20, 19, 0.199);
  border-radius: 18px 0px 0px 0px;
}
/* BetterReplies Support USE TYPE 2*/
/*
.cozy-3raOZG .repliedMessage-VokQwo {
  height: 13px;
  margin-top: -4px;
  margin-bottom: 8px;
  margin-left: 4px;
}
.executedCommand-2GE3w2 .applicationName-1-Uq7y, .executedCommand-2GE3w2 .commandName-1klrjB, .executedCommand-2GE3w2 .username-1A8OIy, .repliedMessage-VokQwo .username-1A8OIy, .threadMessageAccessory-1pYyA- .username-1A8OIy {
  margin-top: 15px
}
.repliedTextPreview-2NBljf.clickable-1bVtEA {
  margin-top: 5px
}
.toprole-wrapper.role {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  bottom: 2px;/**
 * @name Slook
 * @author Leeprky
 * @version 2.0
 * @description BetterDiscord Sloot Theme From Powercord
 * @source https://github.com/leeprky/slook_theme
*/

/* IGNORE ABOVE IF ON POWERCORD - BD ONLY */

@import url("https://raw.githack.com/leeprky/slook_theme/main/index.css");
@import url(https://raw.githack.com/leeprky/slook_theme/main/splash.css);

/* V2.0
/*
/* Imports */
@import url(https://ghostmander.github.io/discordfont/DiscordFont.css);
@import url(https://nyri4.github.io/Discolored/main.css);
@import url(https://raw.githack.com/Snapperito/Settings-Icons/main/source.css);

/* HorizontalServerList */ 
@import url("https://raw.githack.com/DiscordStyles/HorizontalServerList/master/HorizontalServerList.theme.css");

/* USRBG */ 
/*
USRBG Profile Modals by Tropix126.
=========================================== */
@import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);

/* -=-=-=-=-=-=-=-=-=-=- */

/* Glasscord Support - No Lightmode*/
/* YOU NEED GLASSCORD INSTALLED - ONCE DELETED LINE BELOW PLEASE RESTART DISCORD
- REFER TO: https://github.com/leeprky/cybercordtheme-transparent*/
/*
:root{
	--glasscord-win-blur: blurbehind;
	--glasscord-macos-vibrancy: fullscreen-ui;
	--glasscord-linux-blur: true;
	--glasscord-titlebar: windows;  
}
body{
    background-color: transparent;
}
#app-mount{
	background-color: rgba(0, 0, 0, 0.301);
	border-radius: 10px 10px 10px 10px; 
	border-color: transparent;
}
#app-mount .guilds-1SWlCJ .scrollerBase-289Jih {
  background: transparent;
}
.theme-dark {
	--background-primary: #0c0c0c00!important;
	--background-secondary: #0a0a0a10!important;
	--background-tertiary: #12121325!important;
};
.guilds-1SWlCJ {
    background-color: transparent;
}
.guilds-1SWlCJ .scrollerBase-289Jih {
  background-color: transparent;
}
.container-1r6BKw.themed-ANHk51 {
  border-radius: 18px 0px 0px 0px;
}
.container-1r6BKw.themed-ANHk51 {
  border-radius: 18px 0px 0px 0px;
}
.sidebar-2K8pFh, .chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv {
  border-radius: 0px 18px 0 0 !important;
}
.peopleColumn-29fq28 {
  background-color: #1D1F22;
}
.nowPlayingColumn-2sl4cE {
  background-color: #1D1F22;
}

.container-2lgZY8 {
  -webkit-app-region: drag;
}
.guilds-1SWlCJ, .base-3dtUhz, .sidebar-2K8pFh {
  -webkit-app-region: none;
}

/* Windows Fix For ServerList */
/*
#app-mount .app-1q1i1E .base-3dtUhz {
  top: calc(var(--server-container) + 4px) !important;
}
/* Linux Fix For ServerList */
/*
#app-mount .app-1q1i1E .base-3dtUhz {
  top: calc(var(--server-container) + 6px) !important;
}
/* macOS Fix For ServerList */
/*
#app-mount .app-1q1i1E .base-3dtUhz {
  top: calc(var(--server-container) + 38px) !important;
}
.platform-osx .container-1r6BKw {
  -webkit-app-region: none;
}
/* Glasscord Ends */ /* 
--glasscord-win-blur: blurbehind or transparent available.
--glasscord-titlebar: osx or windows available.

/* -=-=-=--=-=-=-=-=-=-=-=-= */

/* SLOOK */

.root-SR8cQa {
  transform: translateZ(0);
}
.header-QKLPzZ .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  pointer-events: none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}

.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index: 1;
  position: relative;
}

.reduce-motion .userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
  border-radius: 10px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}

/* MainColouring */
/*
.theme-dark {
   --header-primary: #fff;
   --header-secondary: #b9bbbe;
   --text-normal: #dcddde;
   --text-muted: #72767d;
   --text-link: #00b0f4;
   --channels-default: #8e9297;
   --interactive-normal: #b9bbbe;
   --interactive-hover: #dcddde;
   --interactive-active: #fff;
   --interactive-muted: #313233;
   --background-primary: #24262b;
   --background-secondary: #1d1f22ad;
   --background-secondary-alt: #2224277a;
   --background-tertiary: #1D1F22;
   --background-accent: #dadde2;
   --background-floating: #18191caf;
   --background-modifier-hover: rgba(79,84,92,0.16);
   --background-modifier-active: rgba(79,84,92,0.24);
   --background-modifier-selected: rgba(14, 15, 15, 0.32);
   --background-modifier-accent: hsla(0,0%,100%,0.06);
   --background-mentioned: rgba(89, 250, 26, 0.055);
   --background-mentioned-hover: rgba(58, 180, 20, 0.08);
   --background-message-hover: rgba(4,4,5,0.07);
   --background-help-warning: rgba(250,166,26,0.1);
   --background-help-info: rgba(0,176,244,0.1);
   --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
   --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
   --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
   --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
   --logo-primary: #fff;
   --focus-primary: #d3e8f0;
   --radio-group-dot-foreground: #8ea1e1;
   --guild-header-text-shadow: 0 1px 1px rgba(20, 19, 19, 0.4);
   --channeltextarea-background: #40444b;
   --activity-card-background: #202225;
   --textbox-markdown-syntax: #8e9297;
   --deprecated-card-bg: rgba(32,34,37,0.6);
   --deprecated-card-editable-bg: rgba(32,34,37,0.3);
   --deprecated-store-bg: #36393f;
   --deprecated-quickswitcher-input-background: #72767d;
   --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
   --deprecated-text-input-bg: rgba(0,0,0,0.1);
   --deprecated-text-input-border: rgba(0,0,0,0.3);
   --deprecated-text-input-border-hover: #040405;
   --deprecated-text-input-border-disabled: #202225;
   --deprecated-text-input-prefix: #dcddde;
   --usernamme-discord-font: true;
}
.theme-light {
  --header-primary: #0d0d0e;
  --header-secondary: #233d70;
  --text-normal: #0d0d0e;
  --text-muted: #747f8d;
  --text-link: #28a318f1;
  --channels-default: #1f2022;
  --interactive-normal: #4f5660;
  --interactive-hover: #2e3338;
  --interactive-active: #40a113;
  --interactive-muted: #c2c5c7;
  --background-primary: rgb(216, 209, 203);
  --background-secondary: rgba(219, 214, 210, 0.61);
  --background-secondary-alt: #dad6d100;
  --background-tertiary: rgba(219, 214, 210, 0.61);
  --background-accent: #424344e5;
  --background-floating: rgba(226, 219, 215, 0.884);
  --background-modifier-hover: rgba(116,127,141,0.08);
  --background-modifier-active: rgba(116,127,141,0.16);
  --background-modifier-selected: rgba(116,127,141,0.24);
  --background-modifier-accent: rgba(6,6,7,0.08);
  --background-modifier-accent: hsla(0,0%,100%,0.06);
  --background-mentioned: rgba(63, 177, 18, 0.116);
  --background-message-hover: rgba(6,6,7,0.02);
  --background-help-warning: rgba(250,166,26,0.1);
  --background-help-info: rgba(0,103,224,0.1);
  --scrollbar-thin-thumb: rgba(79,84,92,0.3);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #ccc;
  --scrollbar-auto-track: #f2f2f2;
  --scrollbar-auto-scrollbar-color-thumb: #e3e5e8;
  --scrollbar-auto-scrollbar-color-track: #f2f3f5;
  --elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08);
  --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.08);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.16);
  --logo-primary: #7289da;
  --focus-primary: #00b0f4;
  --radio-group-dot-foreground: #4e5d94;
  --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
  --channeltextarea-background: #ebedef63;
  --activity-card-background: #fff;
  --textbox-markdown-syntax: #6a7480;
  --deprecated-card-bg: #f8f9f9;
  --deprecated-card-editable-bg: rgba(246,246,247,0.6);
  --deprecated-store-bg: #f8f9f9;
  --deprecated-quickswitcher-input-background: #fff;
  --deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);
  --deprecated-text-input-bg: rgba(79,84,92,0.02);
  --deprecated-text-input-border: rgba(79,84,92,0.3);
  --deprecated-text-input-border-hover: #b9bbbe;
  --deprecated-text-input-border-disabled: #dcddde;
  --deprecated-text-input-prefix: #b9bbbe;
}
*/
/* OPTIONAL */
/* Keko #6043 osx Windows Replacement*/
/*
.theme-light .withFrame-haYltI {
  background: var(--neb-tertiary);
  margin: 0;
  height: 24px;
}
.theme-dark .withFrame-haYltI {
  background: transparent;
  margin: 0;
  height: 24px;
}
.withFrame-haYltI .wordmarkWindows-1v0lYD svg {
  width: 0;
}
.withFrame-haYltI .winButton-iRh8-Z > svg {
  display: none;
}
.withFrame-haYltI .winButton-iRh8-Z:hover {
  background-color: var(--background-teritary);
}
.withFrame-haYltI .winButton-iRh8-Z {
  pointer-events: none;
  margin-left: -3px;
  top: 0;
}
.withFrame-haYltI .winButton-iRh8-Z::after {
  content: "";
  padding: 7px;
  border-radius: 50px;
  pointer-events: fill;
  transition-duration: 200ms;
}
.withFrame-haYltI .winButtonClose-1HsbF- {
  margin-right: 5px;
}
.withFrame-haYltI .winButtonClose-1HsbF-::after {
  background-color: #e92a2a25;
  margin-top: 0px;
}
.theme-light .withFrame-haYltI .winButtonClose-1HsbF-::after {
  background-color: #380d074b;
  margin-top: 0px;
}
.withFrame-haYltI .winButtonClose-1HsbF-:hover::after {
  background-color: #e92a2a;
  transform: scale(1.1);
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(3)::after {
  background-color: #ebdd1721;
  margin-top: 0px;
}
.theme-light .withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(3)::after {
  background-color: #3738074b;
  margin-top: 0px;
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(3):hover::after {
  background-color: #f7bc1b;
  transform: scale(1.1);
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(4):after {
  background-color: #12db3323;
  margin-top: 0px;
}
.theme-light .withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(4):after {
  background-color: #07380f4b;
  margin-top: 0px;
}
.withFrame-haYltI .winButtonMinMax-PBQ2gm:nth-child(4):hover::after {
  background-color: #12db33;
  transform: scale(1.1);
  margin-top: 0px;
}
/* ChannelistEdit By Leeprky#2063 */ /* REMOVE THE LINE BELOW */
/*
.sidebar-2K8pFh{
  width: 0px;
  transition: 0.6s ease;
  z-index: 1;
  bottom: 10px;
}
.wrapper-3NnKdC:hover+.base-3dtUhz>.content-98HsJk>.sidebar-2K8pFh{
  width:240px;
}
.sidebar-2K8pFh:hover{
  width:240px;
}
/* */
/* Center Server List */
/*
#app-mount .wrapper-3NnKdC.guilds-1SWlCJ .scroller-1Bvpku {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*
/* Channel Arrows */
/*
.theme-light [class*='modeSelected'] [class*='name']
{
    color: rgba(30, 143, 15, 0.925) !important; 
    padding-left: 5px
}
[class*='modeSelected'] [class*='name']:before
{
    content: "> ";
}
.theme-light [class*='modeUnread'] [class*='name']
{
    color: #28a318f1 !important; 
    padding-left: 3px
}
[class*='modeUnread'] [class*='name']:after
{
    content: " <";
}

/* */
/* -=-=-=-=- */
/* SlookChatBox */
/* Name */
.username-1A8OIy {
  font-size: 1.15rem;
  line-height: 2.375rem;
  color: var(--header-primary);
  display: inline;
  margin-bottom:  15px;
  margin-left: 2px;  /* - DISCORD USERNAME FONT
  font-family:'Discord'; 
  /*
  /* */
}
.cozy-3raOZG .timestamp-3ZCmNB {
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: var(--text-muted);
  display: none;
}
/* Timestamp From Pinged Messages */
.timestamp-1E3uAL {
  display: none;
}
.message-2qnXI6 .avatar-1BDn8e {
  top: 16px;
  width: 45px;
  height: 45px;
}
.cozy-3raOZG .messageContent-2qWWxC {
  margin-left: -68px;
  padding-left: 72px;
  margin-top: -5px;
}
.theme-light .mentioned-xhSam7:before {
  background-color: #49A31F;
  width: 3px;
  left: -8px
}
.theme-dark .mentioned-xhSam7:before {
  background-color: #e6ebe3;
  width: 3px;
  left: -8px
}
.message-2qnXI6 {
  margin-left: 16px;
}
.message-2qnXI6:hover {
  background-color: var(--background-floating);
  border-radius: 10px
};
.contents-2mQqc9 {
  margin-top: 1px;
}
.message-2qnXI6:not(.groupStart-23k01U) .buttonContainer-DHceWr {
  margin-top: 10px;
}
.mentioned-xhSam7 {
  position: relative;
  background-color: var(--background-mentioned)
}
/* TitleBar */
.app-1q1i1E .base-3dtUhz {
  top: calc(var(--server-container) + 4px) !important;
}
.theme-light .container-1r6BKw.themed-ANHk51 {
  background-color: #DDD8D4;
  border-radius: 18px 0px 0px 0px;
}
.theme-dark .container-1r6BKw.themed-ANHk51 {
  background-color: rgba(19, 20, 19, 0.199);
  border-radius: 18px 0px 0px 0px;
}
/* BetterReplies Support USE TYPE 2*/
/*
.cozy-3raOZG .repliedMessage-VokQwo {
  height: 13px;
  margin-top: -4px;
  margin-bottom: 8px;
  margin-left: 4px;
}
.executedCommand-2GE3w2 .applicationName-1-Uq7y, .executedCommand-2GE3w2 .commandName-1klrjB, .executedCommand-2GE3w2 .username-1A8OIy, .repliedMessage-VokQwo .username-1A8OIy, .threadMessageAccessory-1pYyA- .username-1A8OIy {
  margin-top: 15px
}
.repliedTextPreview-2NBljf.clickable-1bVtEA {
  margin-top: 5px
}
.toprole-wrapper.role {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  bottom: 2px;
  text-indent: 0;
}
 */

/* SlookSpotify */
/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-dark .powercord-spotify {
  background-color: #106e4431;
  background-image: url(https://imgur.com/L0Iih63.jpg); 
  border-radius: 8px 8px 0px 0px;
}
.theme-light .powercord-spotify {
  background-color: #106e4431;
  background-image: url(https://imgur.com/GZyPIBZ.jpg); 
  border-radius: 8px 8px 0px 0px;
}
.theme-dark .spotify-seek-bar {
  background: rgba(22, 226, 63, 0.884);
}
.theme-light .spotify-seek-bar {
  background: rgba(11, 250, 59, 0.884);
}
.theme-dark .spotify-seek-bar-progress {
  background-color: rgba(255, 255, 255, 0.753) !important;
}
.theme-light .spotify-seek-bar-progress {
  background-color: rgb(0, 0, 0) !important;
}
.powercord-spotify .avatarWrapper-2yR4wp {
  animation-name: spinny;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spinny {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
.powercord-spotify .spotify-cover {
  border-radius: 20px !important;
}
/* Playing AvatarBackground / Modal By Leeprky#2063 */

/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-light .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  border-radius: 12px;
}
.theme-dark .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  border-radius: 12px;
}
.theme-dark .headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  border-radius: 18px;
}
.theme-light .headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  border-radius: 18px;
}
.theme-light .userPopout-3XzG_A .header-2BwW8b, .userPopout-3XzG_A .scroller-2FKFPG, .userPopout-3XzG_A .footer-1fjuF6 {
  background-color: #d3d0cd;
}
.theme-dark .userPopout-3XzG_A .header-2BwW8b, .userPopout-3XzG_A .scroller-2FKFPG, .userPopout-3XzG_A .footer-1fjuF6 {
  background-color: #34373d;
  border-radius: 12px;
}
.theme-light .body-3iLsc4, .theme-light .footer-1fjuF6 {
  background-color: #d1cecb;
  box-shadow: none;
}
.theme-dark .headerTop-3C2Zn0 {
  background-color: #1616153d;
  border-radius: 12px
}
.theme-light .headerTop-3C2Zn0 {
  background-color: transparent;
  border-radius: 12px
}
/* MemberViewBig */
.body-3ND3kc {
  background-color: #35333331;
  border-radius: 15px;
  margin-top: 12px;
}
.theme-light .body-3ND3kc {
  background-color: #ece4e47c;
  border-radius: 15px;
  margin-top: 12px;
}
.topSectionNormal-2-vo2m {
  background-color: #35333331;
  border-radius: 18px;
}
.theme-light .topSectionNormal-2-vo2m {
  background-color: #ece4e47c;
  border-radius: 18px;
}
.theme-dark .topSectionNormal-2-vo2m {
  background-color: #1f1d1d7c;
  border-radius: 18px;
}
.body-3iLsc4 {
  border-radius: 12px;
  margin-top: 5px;
  height: 130px;
  background-color: #100;
  box-shadow: none;
}
.theme-light .body-3iLsc4 {
  border-radius: 12px;
  margin-top: 5px;
  height: 200px;
  background-color: rgba(248, 240, 240, 0.76);
  box-shadow: none;
}
.theme-dark .body-3iLsc4 {
  border-radius: 12px;
  margin-top: 5px;
  height: 200px;
  background-color: rgba(32, 31, 31, 0.76);
  box-shadow: none;
}
.footer-1fjuF6 {
  display: none;
}
/*Call Area */
/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-dark .root-217Brm {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  background-size: 1200px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: none;
}
.theme-light .root-217Brm {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  background-size: 1200px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: none;
}
.spriteWrapper-3DD_XY {
  position: absolute;
  top: 100px;
  left: 100px;
  bottom: 0;
  right: 0;
  box-shadow: none;
}
/* Call Dock By shotguntown#4936 */
.wrapper-3EGhDO {
  background-color: var(--background-secondary);
  border-radius: 18px;
  padding: 0px;
}
.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
  color: currentColor;
}
.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
  background: none !important;
}
/* Activity Status */
.theme-dark .activityPanel-28dQGo {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  border-radius: 12px;
  margin-bottom: 7px;
  width: 220px;
  margin-left: 4px;
  box-shadow: none;
}
.theme-light .activityPanel-28dQGo {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  border-radius: 12px;
  margin-bottom: 7px;
  width: 220px;
  margin-left: 4px;
  box-shadow: none;
}
/* USE @import url("https://raw.githack.com/leeprky/slook_theme/main/index.css"); 
FOR UPDATING BECUASE I HAVE UPDATED TO A ON THE FLY UPDATE SYSTEM 
ON LINE 1 YOU WILL NEED TO FORK IF YOU WISH TO EDIT OR SIMPLY PASTE THE CONTENTS BELOW */


  text-indent: 0;
}
 */

/* SlookSpotify */
/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-dark .powercord-spotify {
  background-color: #106e4431;
  background-image: url(https://imgur.com/L0Iih63.jpg); 
  border-radius: 8px 8px 0px 0px;
}
.theme-light .powercord-spotify {
  background-color: #106e4431;
  background-image: url(https://imgur.com/GZyPIBZ.jpg); 
  border-radius: 8px 8px 0px 0px;
}
.theme-dark .spotify-seek-bar {
  background: rgba(22, 226, 63, 0.884);
}
.theme-light .spotify-seek-bar {
  background: rgba(11, 250, 59, 0.884);
}
.theme-dark .spotify-seek-bar-progress {
  background-color: rgba(255, 255, 255, 0.753) !important;
}
.theme-light .spotify-seek-bar-progress {
  background-color: rgb(0, 0, 0) !important;
}
.powercord-spotify .avatarWrapper-2yR4wp {
  animation-name: spinny;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spinny {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
.powercord-spotify .spotify-cover {
  border-radius: 20px !important;
}
/* Playing AvatarBackground / Modal By Leeprky#2063 */

/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-light .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  border-radius: 12px;
}
.theme-dark .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  border-radius: 12px;
}
.theme-dark .headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  border-radius: 18px;
}
.theme-light .headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  border-radius: 18px;
}
.theme-light .userPopout-3XzG_A .header-2BwW8b, .userPopout-3XzG_A .scroller-2FKFPG, .userPopout-3XzG_A .footer-1fjuF6 {
  background-color: #d3d0cd;
}
.theme-dark .userPopout-3XzG_A .header-2BwW8b, .userPopout-3XzG_A .scroller-2FKFPG, .userPopout-3XzG_A .footer-1fjuF6 {
  background-color: #34373d;
  border-radius: 12px;
}
.theme-light .body-3iLsc4, .theme-light .footer-1fjuF6 {
  background-color: #d1cecb;
  box-shadow: none;
}
.theme-dark .headerTop-3C2Zn0 {
  background-color: #1616153d;
  border-radius: 12px
}
.theme-light .headerTop-3C2Zn0 {
  background-color: transparent;
  border-radius: 12px
}
/* MemberViewBig */
.body-3ND3kc {
  background-color: #35333331;
  border-radius: 15px;
  margin-top: 12px;
}
.theme-light .body-3ND3kc {
  background-color: #ece4e47c;
  border-radius: 15px;
  margin-top: 12px;
}
.topSectionNormal-2-vo2m {
  background-color: #35333331;
  border-radius: 18px;
}
.theme-light .topSectionNormal-2-vo2m {
  background-color: #ece4e47c;
  border-radius: 18px;
}
.theme-dark .topSectionNormal-2-vo2m {
  background-color: #1f1d1d7c;
  border-radius: 18px;
}
.body-3iLsc4 {
  border-radius: 12px;
  margin-top: 5px;
  height: 130px;
  background-color: #100;
  box-shadow: none;
}
.theme-light .body-3iLsc4 {
  border-radius: 12px;
  margin-top: 5px;
  height: 200px;
  background-color: rgba(248, 240, 240, 0.76);
  box-shadow: none;
}
.theme-dark .body-3iLsc4 {
  border-radius: 12px;
  margin-top: 5px;
  height: 200px;
  background-color: rgba(32, 31, 31, 0.76);
  box-shadow: none;
}
.footer-1fjuF6 {
  display: none;
}
/*Call Area */
/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-dark .root-217Brm {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  background-size: 1200px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: none;
}
.theme-light .root-217Brm {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  background-size: 1200px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: none;
}
.spriteWrapper-3DD_XY {
  position: absolute;
  top: 100px;
  left: 100px;
  bottom: 0;
  right: 0;
  box-shadow: none;
}
/* Call Dock By shotguntown#4936 */
.wrapper-3EGhDO {
  background-color: var(--background-secondary);
  border-radius: 18px;
  padding: 0px;
}
.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
  color: currentColor;
}
.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
  background: none !important;
}
/* Activity Status */
.theme-dark .activityPanel-28dQGo {
  background-image: url(https://imgur.com/L0Iih63.jpg);
  border-radius: 12px;
  margin-bottom: 7px;
  width: 220px;
  margin-left: 4px;
  box-shadow: none;
}
.theme-light .activityPanel-28dQGo {
  background-image: url(https://imgur.com/GZyPIBZ.jpg);
  border-radius: 12px;
  margin-bottom: 7px;
  width: 220px;
  margin-left: 4px;
  box-shadow: none;
}
/* USE @import url("https://raw.githack.com/leeprky/slook_theme/main/index.css"); 
FOR UPDATING BECUASE I HAVE UPDATED TO A ON THE FLY UPDATE SYSTEM 
ON LINE 1 YOU WILL NEED TO FORK IF YOU WISH TO EDIT OR SIMPLY PASTE THE CONTENTS BELOW */

