.theme-dark #splash {
    background: #1A1C1E;
}
.theme-dark .progress .progress-bar {
    background-color: #292929;
}
.theme-dark .progress .progress-bar .complete {
    background-color: #ffffff;
}
.theme-dark #splash .splash-inner-dl .dl-select-frame .Select-control {
    background: #1A1C1E;
    border-color: #292929;
}
.theme-dark #splash .splash-inner-dl .dl-select-frame .Select-menu-outer {
    background: #1A1C1E;
    border-color: #292929;
}

.theme-light #splash {
    background: #1A1C1E;
}
.theme-light .progress .progress-bar {
    background-color: #f1ebe7;
}
.theme-light .progress .progress-bar .complete {
    background-color: #1a1818;
}
.theme-light #splash .splash-inner-dl .dl-select-frame .Select-control {
    background: #E0DAD6;
    border-color: #E0DAD6;
}
.theme-light #splash .splash-inner-dl .dl-select-frame .Select-menu-outer {
    background: #cac4c0;
    border-color: #cac4c0;
}
